<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/viewPlayer.css">
    
</head>
<body>
<section>
<h1><a href='/schedule'>Lịch thi đấu</a></h1>

<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Vòng đấu</th>
          <th>Đội 1</th>
          <th>Đội 2</th>
          <th>Thời gian</th>
          <th>Sân đấu</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
          {{#each this.match}}
          <tr>
            <td>{{VongDau}}</td>
            <td>{{TenDoiChuNha}}</td>
            <td>{{TenDoiKhach}}</td>
            <td>{{time}}</td>
            <td>SVD Hoa Lư</td>
          </tr>
          {{/each}}
      </tbody>
    </table>
  </div>    
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination" >
            <li class="page-item">
                {{#if this.firstPage}}
                    <a class="page-link disabled" style="cursor: not-allowed; color: black;">Previous</a>
                {{else}}
                    <a class="page-link" href="?page={{this.previousPage}}">Previous</a>
                {{/if}}
            </li>
            {{#each this.pageNumbers}}
                {{#if isCurrent}}
                    <li class="page-item active" >
                        <a class="page-link" href="javascript:;" style="color: blue;">{{value}}</a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                {{/if}}
            {{/each}}
            <li class="page-item">
                {{#if this.lastPage}}
                    <a class="page-link" style="cursor: not-allowed; color: black;">Next</a>
                {{else}}
                    <a class="page-link" href="?page={{this.nextPage}}">Next</a>
                {{/if}}
            </li>
        </ul>
    </nav>
  </div>
  </section>
</body>
</html>

